#product-overview {
  min-height: 95vh;
  background: linear-gradient(rgba(243, 234, 150, 0.7), rgba(0, 0, 0, 0.2)),
    url("freedom.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

#product-overview h1 {
  color: rgba(3, 17, 95, 0.52);
  font-family: 'Be Vietnam', sans-serif;
  font-size: 3rem;
}

.plan__list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan {
  background-color: rgb(251, 248, 222);
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  verticla-align: middle;
}

.plan--highlighted {
  background-color: rgb(255, 247, 172);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background-color: wheat;
  color: rgb(82, 39, 39);
  padding: 5px;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__title {
  color: rgb(138, 4, 4);
  font-weight: 700;
  font-size: 1.8rem;
}

.plan__subtitle {
  color: rgb(45, 72, 73);
  font-size: 1.4rem;
}

.plan__price {
  font-size: 1.6rem;
  color: rgb(47, 69, 70);
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.plan__feature {
  margin: 8px 0;
}

#key-features {
  background-color: rgb(156, 4, 37);
  margin-top: 80px;
  padding: 16px;
}

#key-features .section-title {
  color: white;
  font-size: 1.8rem;
  margin: 32px;
}

.section-title {
  text-align: center;
  font-size: 2.2rem;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 30%;
}

.key-feature__image {
  background: rgb(250, 194, 186);
  width: 128px;
  height: 128px;
  border: 3px solid rgb(107, 48, 6);
  border-radius: 50%;
  margin: auto;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1.6rem;
}


h1 {
  color: rgb(104, 13, 13);
  font-family: 'Be Vietnam', sans-serif;
}














/* Selectors 

Elements       h1
Classes       .blog-post
Universal     * 
ID            #main
Attribute     <button disabled>   [disabled] {color: red;}

Rules have different priorities. Specifity, Cascading: Inline >> ID >> Class,pseudo-class >> tag and pseudo-element

* Inheritance 

* Combinators
1> adjacent sibling  h2 + p >> right next p after h2.
2> general sibling   h2 ~ p >> all p next the h2
3> child             div > p >> all p directly after div, not nested p
4> descendan         div p   >> level doesn't matter, all p after and inside div

*/