* {
  box-sizing: border-box;
}

body {
  font-family: font-family: 'Ubuntu', sans-serif;
  margin: 0;
}


.button {
  background-color: rgba(184, 161, 99, 0.705);
  color: white;
  font: inherit;
  font-size: 1.2rem;
  padding: 4px 6px;
  border: 2px solid rgb(56, 42, 2);
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: wheat;
  color: rgb(56, 42, 2);
}

.button:focus {
  outline: none;
}


.main-header {
  background: #f0ea98;
  width: 100%;
  padding: 10px 20px;
  display: inline-block;
}

.main-header>div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: rgb(12, 65, 12);
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 140px);
  vertical-align: middle;
}

.main-nav__item {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.6rem;
}

.main-nav__item a {
  color: rgb(12, 65, 12);
  font-weight: 600;
  text-decoration: none;
  padding: 2px 0;

}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #271a03;
  border-bottom: 3px solid #1f1400ef;
}

.main-nav__item--cta a {
  background: rgb(202, 202, 74);
  padding: 4px 8px;
  border-radius: 6px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #755723;
  background: #e9d148;
  border-radius: 6px;
  border-bottom: none;
}

.main-footer {
  background: rgb(24, 21, 21);
  padding: 32px;
  margin-top: 48px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}