:root {
  --mainWhite: #fff;
  --mainBlack: #222;
  --brownRed: rgb(82, 39, 39);


  --grayMain: #4f606d;

  --back-sub: #232020;
  --fill: #ffaa22;
  --iconfill: #bfdaf1;

  --text-light: #e7e7e7;
  --text-dark: #444040;
  --text-darkred: #551b1b;
  --text-lightblue: #bfdaf1;

  --home: rgba(216, 225, 226, 0.781);
  --home-light: #e5e2e2;
  --home-light-border: #c7bdc2;
  --resume: rgba(200, 212, 214, 0.781);
  --container-resume: rgba(200, 209, 211, 0.781);
  --work: rgba(185, 197, 199, 0.781);
  --contact: rgba(173, 185, 187, 0.781);
  --container-light: #f0eeee;
  --container-dark: rgba(210, 219, 221, 0.781);

  --heading-all: rgb(243, 220, 220);

  --skills: #96848d;

  --spanish-grey: #999999;
  --dark-liver: #4e4e4e;
  --onyx: #34383a;
  --rocket-metallic: #9d908d;
  --back-main-hover: #495760;

}